.player-title{
@include title($title-stroke-color, $title-color);
font-size: 10vw;
}

// @media(min-width:450px){
//   .player-title{
//       font-size: 4vh;
//   }
// }

@media(min-width:500px){
  .player-title{
      font-size: 8vh;
  }
}

.ship-title{
  @include title($title-stroke-color, $title-color);
  font-size: 13vw;
  }
  
  
  @media(min-width:500px){
    .ship-title{
        font-size: 10vh;
    }
  }



.stats{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    color: $subtitle-color;
    font-family: $subtitle-font;
    margin: 5vw 3vw;

        @include text-glow-shadow($screen-glow-color);
        h3{
        font-size: 2vh;
        }
        p{
        font-size: 3vh;
        }
    }

    @media(min-width:800px){
      .stats{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        h3{
          font-size: 4vh;
        }
        p{
          font-size: 8vh;
        }
      }
    }


    .destructmodal {
        position:fixed;
        text-align: center;
        background: $modal-bg-color;
        @include box-glow-shadow($screen-glow-color);
        border-radius: 10px;
        width: 75vw;
        height: auto;
        top:42%;
        left:50%;
        transform: translate(-50%,-50%);
      }

      .destruct-title{
        @include subtitle ($subtitle-color, 5vw);
          margin:3vh 2vh;
      }

      @media(min-width:750px){
        .destruct-title{
          @include subtitle ($subtitle-color, 5vh);
        }
      }
    
      
      .deletebtn{
        @include arcade-button(0px, $btn1-color, $btn-glow-color, 50%, 50%);
        margin: 3vh 0 0 0 !important;
      }
      .deletebtn:hover {
        @include arcade-button(-1.5px, lighten($btn1-color, 10%), $btn-glow-color, 50%, 50%);
        margin: 3vh 0 0 0 !important;
      }
      
      .backbtn{
        @include arcade-button(0px, $btn2-color, $btn-glow-color, 50%, 50%);
        margin: 3vh 0 0 0 !important;
      }
      .backbtn:hover {
        @include arcade-button(-1.5px, lighten($btn2-color, 10%), $btn-glow-color, 50%, 50%);
        margin: 3vh 0 0 0 !important;
      }
    
      .destruct-dash{
          display: flex;
          justify-content: space-around;
          align-items: center;
          align-content: center;
    
        .destructbtnbox{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 30vw;
        }
        .destruct-label{
          @include text-stroke($title-stroke-color, 1px, darken($auth-btn-color, 10%));
            // color:$modal-text-color;

            width: 30vw;
            padding: 2vw;
            font-family: $label-font;
            font-size: 6vw;
        }

        @media(min-width:500px){
          .destruct-label{
            width: 30vh;
            font-size: 4vh;
          }
        }
      }





      //styles personal log email



        .email-box{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          font-family: $title-font;

          .email-title{
            text-align: center;
            // margin: 1vw;
            font-size: 4vw;
            width: 70vw;
            @include text-stroke($yellow, 0.25px, $green);
            @include text-glow-shadow($yellow);
          }

          @media(min-width:900px){

              .email-title{
              font-size: 4vh;
            }

          }
        

          .email-line{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: space-around;
            background-color: lighten($bg-color, 20%);
            width: 70vw;
            @include border-radius(10px);
            font-size: 2.0vw;
            text-align: center;
            

            .from{
              color: $purple;
              padding: 0 0 0 2vh;
            }

            .subject{
              color:$green;
              padding: 0 2vh 0 0 ;
            }
          }

          @media(min-width: 900px){
            .email-line{
              display: flex;
              flex-direction:row;
              justify-content: space-around;
              font-size: 1.5vw;
              // width: 60vw;
            }
          }
        }
    
// styling for the email body    
      .donation{
        background-image: linear-gradient(-20deg, $red , $purple, $blue, $green, $yellow);
        font-family: $title-font;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 100%;
        
        .donate-title{
            margin: 1vw;
            font-size: 5vw;
            @include text-stroke(lighten($blue, 10%), 0.25px, $purple);
            @include text-glow-shadow($yellow);
          }


          .chart-text-box{
            display: flex;
            // flex-direction: row;
            flex-direction: column;
            justify-content: space-around;
            // justify-content: center;
            align-items: center; 
            height: 80vh;



            .donate-head{
              display: flex;
              flex-direction: column;
              // justify-content: space-around;
              align-items: center;
              // justify-content: center;
              width: 70vw;
              // height: 60vh;
              height: 42vh;
              
              .chart-title{
                @include text-stroke(lighten($purple, 20%), 0.2px, $blue);
                // color: darken($blue, 2%);
                // font-size: 4vh;
                font-size: 1.6vh;

              }
              .donate-chart{
                position: relative;
                width: 33vh;
            
              }
              .donate-subtitle{
                color: darken($green, 7%);
                // font-size: 2.5vh;
                font-size: 1.6vh;

              }
              .donatebtn{
                font-family: $subtitle-font;
                color: $purple;
                // font-size: 3vh;
                border: 3px solid lighten($yellow, 20%);
                outline: none;
                background-color: $green;
                border-radius: 10px;
                // height:6vh;
                // width:25vh;
                font-size: 2vw;
                height: 3vh;
                width: 20vw;


              }

            }
            .donate-box{
              background-color: rgba(40,249,252,.3);
              border-radius: 10px;
              // width:38vw;
              width: 65vw;
              display: flex;
              justify-content: center;
            .donate-text{
              // line-height: 4vh;
              line-height: 1.6vh;
              // font-size: 1.6vh;
              font-size: 1.9vw;
              color: lighten($bg-color, 20%);
              // width: 35vw;
              width: 63vw;

              }
            }

          }
      }


@media(min-width:900px){
      .donation{
        
        .donate-title{

          }
          .chart-text-box{
            flex-direction: row;
            justify-content: space-around;
            height: 70vh;


            .donate-head{
              justify-content: space-around;
              height: 60vh;
              width: 25vh;

              
              .chart-title{
                color: darken($blue, 2%);
                font-size: 3vh;
              }
              .donate-chart{
                width: 30vh;
            
              }
              .donate-subtitle{
                font-size: 2vh;
              }
              .donatebtn{
                font-size: 2vh;
                height:4vh;
                width:20vh;
              }

            }
            .donate-box{
              width:38vw;

            .donate-text{
              line-height: 1.4vw;
              font-size: 1.2vw;
              width: 35vw;
              }
            }

          }
      }}

      

