@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Nosifer');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


/* colors
red= #ff2728
yellow= #f6ff12
green= #00db00
blue= #2E2EFF
purple= #a85bb0

*/

.main{
  background-color: rgb(8, 18, 20);
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
}

.title{
  font-family: 'Audiowide', cursive;
  color:#f6ff12;
  -webkit-text-fill-color:#f6ff12;
  -webkit-text-stroke-width: 0.08px;
  -webkit-text-stroke-color: #00db00;
  text-shadow: 0px 0px 20px rgb(247, 247, 0);
}

.stats{
  color:#a85bb0;
  font-family: 'Press Start 2P', cursive;
}

.clashQuest{
  color: #a85bb0
}

.clashAnswer{
  color: #00db00;
  width:300px;
  height: 50px;
}


/* BUTTON STYLING */
.btn{
  box-shadow: -2px 2px 1px #f6ff12 ;
  color: #f6ff12;
  text-align: center;
  margin: auto;
  font-family: 'Permanent Marker', cursive;
  border: none;
  border-radius: 5px;
}

.authbtn{
  background-color: #2E2EFF
}

.statsbtn{
  background-color:#00db00
}

.clashbtn{
  background-color: #a85bb0
}

.escapebtn{
  font-family: 'Nosifer', cursive;
  background-color: #ff2728;
}

.backbtn{
  background-color: #2E2EFF;
}

.logoutbtn{
  background-color:#00db00;
}

.modalbtn{
  margin: 10px 15px 15px 15px;
  background-color:#00db00;
}

.modalmain {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.authmodal {
  position:fixed;
  text-align: center;
  background: #a85bb0;
  box-shadow: 0px 0px 30px #00db00;
  border-radius: 10px;
  width: auto;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modalinput {
  box-shadow: 0px 0px 20px #f6ff12;
  margin: 15px 0px 5px 0px;
  color: #f6ff12;
  background-color:#00db00;
  border: none;
  border-radius: 3px;
}

  /*restyles placeholders  */
::-webkit-input-placeholder { 
  color: #f7ff127e;
}
::-moz-placeholder { 
  color: #f6ff12;
}
:-ms-input-placeholder { 
  color: #f6ff12;
}
:-moz-placeholder { 
  color: #f6ff12;
}


.modalblock {
  display: block;
}

.modalnone {
  display: none;
}
