@import "./styles/variables";
@import "./styles/landing";
@import "./styles/auth";
@import "./styles/game-landing";
@import "./styles/clash";
@import './styles/player';
@import './styles/flash';
@import './styles/specwave';

//background for all components
.main {
  text-align: center;
  background-color: $bg-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//styles for dashboard that will be rendered on most components, but with diff functionality
.dash {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: $dash-color;
  display: flex;
  justify-content: space-around;
  @include box-glow-shadow(lighten($bg-color, 20%));
  border-top: .25px solid $title-stroke-color;


  //left button
  .leftbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    .btn1 {
      @include arcade-button(-1.5px, $btn1-color, $btn-glow-color, 52%, 47%);
    }
    .btn1:hover {
      @include arcade-button(-1.5px, lighten($btn1-color, 10%), $btn-glow-color, 52%, 47%);
    }
  }



  //screen between buttons that displays key if neccesary
  .btn-key-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $bg-color;
    width: 30vw;
    height: 20vw;
    font-size: 1.2vw;
    color: $label-color;
    font-family: $label-font;
    margin: auto 5vw auto 5vw;
    @include box-glow-shadow($screen-glow-color);
    @include border-radius(10%);

    .key-box{
      margin: 1.5vh 0 1.5vh 0;
      display: flex;
      flex-direction: column;


    .key-holder {
      display: flex;
      align-items: center;
      margin: 1vw 2vh 1vw 1.5vh;
      .key {
        float: left;
        margin: 1vw .5vw;
        width: 1vw;
        height: 1vw;
        min-width: .75em;
        min-height: .75em;
        @include border-radius(50%)
      }
      @media(min-width: 700px){
        .key{
        width: 1vh;
        height: 1vh;
        font-size: 1.2vh
        }
      }

      .btn1-key {
        background-color: $btn1-color;
      
      }
      .btn2-key {
        background-color: $btn2-color;
      }
      .btn3-key {
        background-color: $btn3-color;
      }
      .btn4-key {
        background-color: $btn4-color;
      }
      }


      // @media(min-width:700px){
      //   .key-holder{

      //   }
      // }
    }
  }
  .rigthbtn {
    width: 30.5vw;
    margin-top: 1vh;

      .btn2 {
        @include arcade-button(2px, $btn2-color, $btn-glow-color, 47%, 47%);
      }
      .btn2:hover {
        @include arcade-button(2px, lighten($btn2-color, 10%), $btn-glow-color, 47%, 47%);
      }

    .btn3 {
      @include arcade-button(2px, $btn3-color, $btn-glow-color, 47%, 47%);
      margin-right: 5vw;
    }
    .btn3:hover {
      @include arcade-button(2px, lighten($btn3-color, 10%), $btn-glow-color, 47%, 47%);
      margin-right: 5vw;
    }
    .btn4 {
      @include arcade-button(2px, $btn4-color, $btn-glow-color, 47%, 47%);
    }
    .btn4:hover {
      @include arcade-button(2px, lighten($btn4-color, 10%), $btn-glow-color, 47%, 47%);
    }
  }

  @media(min-width: 700px){
    .btn-key-screen{
    width: 30vh;
    height: 20vh;
    font-size: 1.5vh
    
    }
  }
}



//Game title styling
.title {
@include title($title-stroke-color, $title-color)
}

.escape-title{
  @include text-stroke($defeat-color, .25px, $defeat-stroke-color);
  margin: 22vh 2vw;
  font-size: 9vh;
  font-family: $title-font;    
  @include text-glow-shadow($screen-glow-color);
}
@media(min-width:400px){
  .escape-title{
    font-size: 12vh;
  }
}


